*{
    
    font-size:15px;
    color: azure;
}

body{
    display: flex;
    justify-content: center;
    height:100vh;
    align-items: center;
    background-color: rgba(46, 65, 236, 0.76);
}

h1{
    padding:10px;
}

.departures{
    background-color:rgb(6, 6, 6);
    border-radius:10px;
    padding:10px;
}

.departures table{
    background-color: rgb(46,46,46);
    text-align: left;
 
}

.departures table div{
    border: solid 4px rgb(26,26,26);
    background-color: black;
    min-width:12px;
    height:20px;
    float:left;
}

.flip{
    animation:0.5s linear flipping;
}

@keyframes flipping{
    0%{
        transform: rotateX(0deg);
    }
    50%{
        transform: rotateX(90deg);
    }
    100%{
        transform: rotateX(0deg);
    }
}

#time {
    width:150px;
}

#destination{
    width: 450px ;
}

#flight{
    width: 100px;
}

#gate{
    width:70px;
}
